
*.Rproj
processeddata/~$shock_codes.xlsx
.Rproj.user/1DF0E34F/sdb/prop/C55E396D
.Rproj.user/1DF0E34F/sdb/prop/INDEX
.Rproj.user/1DF0E34F/session-persistent-state
.Rproj.user/shared/notebooks/paths
*.pper
.Rproj.user/1DF0E34F/rmd-outputs
.Rproj.user/1DF0E34F/saved_source_markers
.Rproj.user/1DF0E34F/sdb/prop/1C00980A
.Rproj.user/1DF0E34F/sdb/prop/20E7C596
.Rproj.user/1DF0E34F/sdb/prop/9E65FD2F
.Rproj.user/1DF0E34F/sdb/prop/C119827
.Rhistory
